* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Finger Paint", cursive;
}
body {
  height: 100vh;
  background: linear-gradient(125deg, #19014e, #d161ff);
}

h1 {
    position: relative;
    padding: 1em;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
}
html {
  font-size: 16px;
}
.gameConteiner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.playerText {
    background: #ffffff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #3a094e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #3a094e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
  font-size: 1em;
  padding: 1em;
  border-radius: 8px;
  background-color: #1f0035;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}
.popup {
  background: linear-gradient(125deg, #19014e, #d161ff);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}
#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
}
#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
}
.popup.hide {
  display: none;
}